$website-width  : 1170px !default;
$text-color     : #000;
$bg-color       : #fff;
$main-color     : #0f183b;
$link-color     : #9f7c2d;
$color-1        : #0f183b; 
$color-2        : #9f7c2d;
$color-3        : #f5671f;
$color-4        : #e0050b;
$color-5       : #000000; 